{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lideraly Fc Official</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/la.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  </body>
  <nav class = 'navbar'>
      <div class="navcont">
        
        <a href="/" class="logo">
        <img src="static\images\la.png">
     
        </a>

        <ul class="navlist">
          <li><a href="/store">Store</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>

        <div class="buttons">
          <a href="signin" class="bt1">LOG IN</a>
          <a href="signup" class="bt2">SIGN UP</a>
          
        </div>
      </div>
    </nav>
    <div class="about">
      <h1>Lideraly Fc</h1>
      <img src="static\images\la.png">
      <h3>You will never play alone</h3>
      <hr>
      <p>Pretend as if I wrote something cool about club history and stuff like that <img src="static\images\hand-heart.png"></p>
    </div> 
    <div class="end-box">
      <p>LIDERALY FC</p>
      <p> Are you not entertained? </p>
    </div>
  <body>   
</html>