{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lideraly Fc Official</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <nav class = 'navbar'>
      <div class="navcont">
        
        <a href="/" class="logo">
        <img src="static\images\la.png">
        
        </a>

        <ul class="navlist">
          <li><a href="/store">Store</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>

        <div class="buttons">
          <button class="bt1"><a href="#">LOG IN</button></a>
          <button class="bt2"><a href="#">SIGN UP</button></a>
        </div>
      </div>
    </nav>
    <header class="fullheader">
      <h1 class="lidh">Lidarely Fc</h1>
      <p class="p1"> Welcome lads! </p>
      <img src="static\images\la.png" class="badge">
    </header>
    <p class="update">On Lidarely</p>
    <div class="newsbox">
      <div class="sbox">
        <img class="trible" src="static\images\clublegend.jpg" >
        <p>Amzinho, 9 goals in a single match no one can deny his abilities</p>
      </div>
      <div class="box">
        <div class="minibox">
          <img src="static\images\rank.png" class="rank">
          <p>Lideraly finshed second of the div 1 playoff table</p>
        </div>
        <div class="minibox">
          <img src="static\images\manaf.jpg" class="wonder">
        <p>The future is bright as Manaf is our young club talent</p>
        </div>
      </div>
    </div>
    <div class="reference-sec">
      <a href="/store"><img src="static\images\store.jpg" class="reference-img"></a>
      <a href="/players"><img src="static\images\players.jpg" class="reference-img"></a>
    </div>
  </body>
</html>