{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liderally Fc Official</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/la.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class = 'navbar'>
      <div class="navcont">
        
        <a href="/" class="logo">
        <img src="static\images\la.png">
      
        </a>

        <ul class="navlist">
          <li><a href="/store">Store</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>

        <div class="buttons">
          <a href="signin" class="bt1">LOG IN</a>
          <a href="signup" class="bt2">SIGN UP</a>
        </div>
      </div>
    </nav>

    <h1 class="sec-name">Defenders</h1>
    <div class="pro-sec">
      <div class="pro-box">
        <img class="pro-img" src="static\images\momo.jpg">
        <div class="pro-name"><h2>Momo</h2></div>
        <h3>EL CAPITANO</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\zenci.jpg">
        <div class="pro-name"><h2>Zenci</h2></div>
        <h3>Aggressive</h3>
      </div>
    </div>
    <h1 class="sec-name">Midfielders</h1>
    <div class="pro-sec">
      <div class="pro-box">
        <img class="pro-img" src="static\images\manafi.jpg">
        <div class="pro-name"><h2>Manaf</h2></div>
        <h3>New</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\amz.jpg">
        <div class="pro-name"><h2>Amzinho</h2></div>
        <h3>Books, club legend</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\joao.jpg">
        <div class="pro-name"><h2>Joao</h2></div>
        <h3>Pure football</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\instinct.jpg">
        <div class="pro-name"><h2>Instinct</h2></div>
        <h4>Provides insane assists even though we miss half of them</h4>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\rgb.jpg">
        <div class="pro-name"><h2>Rgb</h2></div>
        <h4>If you want a finesse shot don't call him</h4>
      </div>
    </div>
    <h1 class="sec-name">Forwards</h1>

    <div class="pro-sec">
      <div class="pro-box">
        <img class="pro-img" src="static\images\suf.jpg">
        <div class="pro-name"><h2>Sufyan</h2></div>
        <h3>Best ST here by far</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\mani.jpg">
        <div class="pro-name"><h2>Mani</h2></div>
        <h4>Insane striker but if you're an e-girl run!</h4>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\greedy.jpg">
        <div class="pro-name"><h2>Rollup</h2></div>
        <h3>A finisher with 999+ execuses</h3>
      </div>

      <div class="pro-box">
        <img class="pro-img" src="static\images\ben.jpg">
        <div class="pro-name"><h2>Ben</h2></div>
        <h3>Current Aguero</h3>
      </div>
  </body>
</html>