* {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    
}
.navbar {
    background-color: #ff1f1f; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 15px; height: 80px; box-shadow: 0px 3px; position: sticky;
}
.navcont {
    display: flex;   
    justify-content:space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    font-weight: 400;
    color: #F8F7F4;
    
}
.logo img {
    
    max-width: 60px;
    background-color: transparent;
    margin-top: 8px;
    margin-left: 10px;

}

.navlist li {
    display: inline-block; list-style: none; padding-left: 15px;
}
.navlist li a{
    color: #F8F7F4; font-weight:400; font-size: 18px;
}

.buttons {
        margin-top: 10px;
}
.bt1 {
    background-color: #ff1f1f; border-style:solid; border-color: #F8F7F4; border-width:1.5px;
    border-radius: 40px; width: 120px; height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: 600;
    color: #F8F7F4;
}
.bt2{
    background-color: black; border-style:solid; border-color: #F8F7F4; border-width:1.5px;
    border-radius: 40px; width: 120px; height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: 600;
    color: #F8F7F4;
}

.fullheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #F8F7F4;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 20px;
    background-image: url('/static/images/grass.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.badge{
    width: 10%;
    margin-top: 20px;
}
@media (max-width: 60rem) {
    .navbar {
    height: 55px;
    padding: 0 5px;
    }
    .logo {
    font-size: 20px;
    gap: 5px;
    
    }
    .logo img {
    max-width: 40px;
    }
    
    .navlist {
        padding-left: 4px;
    }
    .navlist li a {
        font-size: 10px;
    }
    .buttons {
       margin-top: 5px;
    }
    
    .bt1, .bt2 {
        border-radius: 20px; width: 60px; height: 30px; padding: 0; 
        font-size:10px;
        font-weight: 400;
    }
    .fullheader{
        font-size: 20px;
    }
}