* {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    
}
.navbar {
    background-color: #ff1f1f; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 15px; height: 80px; box-shadow: 0px 3px; position: sticky;
}
.navcont {
    display: flex;   
    justify-content:space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    font-weight: 400;
    color: #F8F7F4;
    
}
.logo img {
    
    max-width: 60px;
    background-color: transparent;
    margin-top: 8px;
    margin-left: 10px;

}

.navlist li {
    display: inline-block; list-style: none; padding-left: 15px;
}
.navlist li a{
    color: #F8F7F4; font-weight:400; font-size: 18px;
}

.buttons {
        margin-top: 10px;
}
.bt1 {
    background-color: #ff1f1f; border-style:solid; border-color: #F8F7F4; border-width:1.5px;
    border-radius: 40px; width: 120px; height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: 600;
    color: #F8F7F4;
}
.bt2{
    background-color: black; border-style:solid; border-color: #F8F7F4; border-width:1.5px;
    border-radius: 40px; width: 120px; height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: 600;
    color: #F8F7F4;
}

.fullheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #F8F7F4;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 20px;
    background-image: url('/static/images/grass.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.badge{
    width: 15%;
    margin-top: 20px;
}

.newsbox{
    display: flex;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 70%;
    margin-left: 25%;
}
.update{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 7% 0 3% 25%;
}
.sbox{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 3px;
    background-color: #ff1f1f;
    height: 400px;
    width: 100%;
    transition:all 1.1s ease;
    cursor: pointer;
    
}
.sbox:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 15px ;
}
.sbox p{
    margin: 6px 3px 0 10px;
}

.minibox{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 3px;
    background-color: #ff1f1f;
    height: 195px;
    width: 50%;
    transition:all 1.1s ease;
    cursor: pointer;
    margin-bottom: 10px;
}
.minibox:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 15px ;
}
.minibox p{
    margin: 6px 3px 0 10px;
}

.trible{
    width:100%;
    margin-bottom: 10px;
}
.rank{
    width:100%;
}
.wonder{
    width:100%;
}


@media (max-width: 60rem) {
    .navbar {
    height: 55px;
    padding: 0 5px;
    }
    .logo {
    font-size: 20px;
    gap: 5px;
    
    }
    .logo img {
    max-width: 40px;
    }
    
    .navlist {
        padding-left: 4px;
    }
    .navlist li a {
        font-size: 10px;
    }
    .buttons {
       margin-top: 5px;
    }
    
    .bt1, .bt2 {
        border-radius: 20px; width: 60px; height: 30px; padding: 0; 
        font-size:10px;
        font-weight: 400;
    }
    .fullheader{
        padding-top: 50px;
        font-size: 20px;
        height: 350px;
    }
    .newsbox{
        display:contents;
        font-size: 15px;
        
    
    }
    .sbox{
    width: 70%;
    margin: 0 0 0 15%;
    height: 350px;
    margin-bottom: 15px;
        
    }
    .minibox{
    width: 70%;
    margin: 0 0 0 15%;
    height: 300px;
    margin-bottom: 15px;
    
    }
    .update{
        font-size: 25px;
        margin-left: 15%;
    }
}